<div *ngIf="loading" class="page-loading-overlay">
    <div class="loader-1"></div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ showSearch ? "Busca de vagas" : "Lista de vagas" }}
        </h3>
        <div class="panel-options" *ngIf="showSearch">
            <a href="#" (click)="returnSearchForm()" *ngIf="!showParameters">
                <span class="expand-icon">+ Voltar</span>
            </a>
        </div>
    </div>
    <div class="panel-body" *ngIf="showSearch && showParameters">
        <div class="col-sm-12">
            <form role="form" class="form-horizontal" [formGroup]="searchForm" novalidate (submit)="search()">
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="areaAtuacao">Área de atuação</label>
                        <div class="col-sm-4">
                            <area-atuacao id="areaAtuacao" formControlName="areaAtuacao" required selectClass="form-control">
                            </area-atuacao>
                        </div>

                        <label class="col-sm-2 control-label" for="nivelFuncao">Nível de função</label>
                        <div class="col-sm-4">
                            <nivel-funcao id="nivelFuncao" formControlName="nivelFuncao" required selectClass="form-control">
                            </nivel-funcao>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="tipoContratacao">Tipo de contratação</label>
                        <div class="col-sm-4">
                            <tipo-contratacao id="tipoContratacao" formControlName="tipoContratacao" required selectClass="form-control">
                            </tipo-contratacao>
                        </div>

                        <label class="col-sm-2 control-label" for="nivelEscolaridade">Nível de escolaridade</label>
                        <div class="col-sm-4">
                            <nivel-escolaridade id="nivelEscolaridade" formControlName="nivelEscolaridade" required selectClass="form-control">
                            </nivel-escolaridade>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="idioma">Idioma</label>
                        <div class="col-sm-2">
                            <select class="form-control" name="idioma" id="idioma" formControlName="idioma">
                                <option value="">Selecione</option>
                                <option value="Alemão">Alemão</option>
                                <option value="Espanhol">Espanhol</option>
                                <option value="Francês">Francês</option>
                                <option value="Inglês">Inglês</option>
                                <option value="Italiano">Italiano</option>
                                <option value="Japonês">Japonês</option>
                                <option value="Mandarim">Mandarim</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-white btn-icon btn-sm" type="button" (click)="search()">
                            <span>Buscar vagas</span>
                            <i class="fa-plus"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-body" *ngIf="(!showSearch || searchLoaded)">
        <table class="table table-bordered table-striped no-footer" id="tableList" #tableList>
            <thead>
                <tr>
                    <th>Vaga</th>
                    <th class="desktop-only">Nível de Função</th>
                    <th class="desktop-only">Tipo de Contratação</th>
                    <th class="desktop-only fit"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list">
                    <td>
                        <a [routerLink]="[this.showSearch ? '/vaga/search' : '/vaga', item.idVaga]">
                            {{item.titulo}}
                        </a>
                    </td>
                    <td class="desktop-only">
                        <a [routerLink]="[this.showSearch ? '/vaga/search' : '/vaga', item.idVaga]">
                            {{item.nivelFuncao}}
                        </a>
                    </td>
                    <td class="desktop-only">
                        <a [routerLink]="[this.showSearch ? '/vaga/search' : '/vaga', item.idVaga]">
                            {{item.tipoContratacao}}
                        </a>
                    </td>
                    <td class="fit desktop-only">
                        <button *ngIf="podeCandidatar(item)" type="button" class="btn btn-xs btn-secondary btn-icon btn-icon-standalone" (click)="candidatar(item)">
                            <i class="fa-share"></i>
                            <span>Candidatar-se</span>
                        </button>
                        <!-- <a href="javascript:void(0);" *ngIf="podeCandidatar(item)" class="btn btn-secondary btn-xs" (click)="candidatar(item)">
                            <span>Candidatar</span>
                        </a> -->
                        <a href="javascript:void(0);" *ngIf="!showSearch && podeEncerrar(item)" class="btn btn-danger btn-xs" (click)="encerrar(item)">
                            <span>Encerrar</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>