<div class="panel panel-color panel-info panel-border">

  <div class="panel-heading">
      Cadastro finalizado!
  </div>

  <div class="panel-body">
    
    <div class="col-md-12">
      <p>Seu cadastro foi finalizado com sucesso. Realize o
        <a [routerLink]="['/login']">login</a> para ter acesso ao Vox Connections! </p>
        <p>&nbsp;</p>
    </div>
    <div class="row"><span></span></div>
    <div class="col-md-12"><a [routerLink]="['/login']" class="btn btn-blue">Login</a></div>
  </div>
</div>