<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Lista de headhunter
    </h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-striped no-footer" id="tableList">
      <thead>
        <tr>
          <th>Nome</th>
          <th class="desktop-only">E-mail</th>
          <th class="desktop-only">Telefone</th>
          <th class="desktop-only">Celular</th>
          <th class="desktop-only">Empresa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>
            <a [routerLink]="['/headhunter', item.idHeadhunter]">
              <span class="glyphicon glyphicon-user"></span>
            </a> {{item.nome}}
          </td>
          <td class="desktop-only">{{item.email}}</td>
          <td class="desktop-only">{{item.telefone}}</td>
          <td class="desktop-only">{{item.celular}}</td>
          <td class="desktop-only">{{item.empresa}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>