<div class="settings-pane">

    <a href="#" data-toggle="settings-pane" data-animate="true">
        &times;
    </a>

    <div class="settings-pane-inner">
    </div>

</div>

<nav class="navbar horizontal-menu navbar-fixed-top" vox-menu></nav>

<div class="page-container">
    <div class="main-content">
        <alert></alert>
        <router-outlet></router-outlet>
    </div>
</div>
<footer class="main-footer sticky footer-type-1">
    <div class="footer-inner">
        <!-- Add your copyright text here -->
        <div class="footer-text">
            &copy; 2018
            <strong>VOX Connections</strong>
        </div>

        <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
        <div class="go-up">

            <a href="#" rel="go-top">
                <i class="fa-angle-up"></i>
            </a>

        </div>

    </div>

</footer>