.panel .panel-heading > .panel-title {
    font-size: 20px;
}

.panel-options .btn {
    margin-bottom: 0px;
}

/* .navbar-nav > .has-sub > span.title {
    color: #7d7f7f;
}
.navbar-nav > .has-sub > span.title:hover {
    color: #313232;
}

.navbar-nav > .has-sub:hover{
    cursor: pointer; 
} */