<div class="panel panel-default" >
    <div class="panel-heading">
      <h3 class="panel-title">IDIOMAS</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="idioma">Idioma</label>
        <div class="col-sm-3">
          <select class="form-control" id="idioma" formControlName="idioma">
            <option selected>Escolha um idioma</option>
            <option>Alemão</option>
            <option>Espanhol</option>
            <option>Francês</option>
            <option>Inglês</option>
            <option>Italiano</option>
            <option>Japonês</option>
            <option>Mandarim</option>
          </select>
        </div>
        <label class="col-sm-1 control-label" for="confirmesenha">Nível</label>
        <div class="col-sm-3">
          <select class="form-control" id="nivelidioma" formControlName="nivelidioma">
            <option selected>Não possui</option>
            <option>Básico</option>
            <option>Intermediário</option>
            <option>Avançado</option>
            <option>Fluente</option>
          </select>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-white btn-icon" >
            <span>Adicionar</span>
            <i class="fa-plus"></i>
          </button>
        </div>
      </div>

      <div class="col-sm-12">
        <table class="table responsive">
          <thead>
            <tr>
              <th>Idioma</th>
              <th>Nível</th>
              <th></th>>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Inglês</td>
              <td>Intermediário</td>
            </tr>
            <tr>
              <td>Espanhol</td>
              <td>Básico</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="form-group-separator"></div>
    </div>
  </div>